body {
    /* padding-top: 50px; */
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.title-add-user {
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 700;
    line-height: 24px;
}
.block-add-user {
    position: relative;
    margin-top: 55px;
}
.block-add-user:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    height: 100%;
    width: 10px;
    background-color: #ddd;
}
.form-group .help-block {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
.action {
    text-align: center;
}
.form-search {
    margin-bottom: 20px;
}