<!DOCTYPE html>
<html data-ng-app="http-app">
<head>
    <meta charset="utf-8">
    <title>AngularJS -  HTTP</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/sweetalert.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout" data-ng-controller="UserController">
        <!-- <h2 class="title">HTTP Request Demo</h2> -->
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
                <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Username</th>
                            <th class="mdl-data-table__cell--non-numeric">Email</th>
                            <th class="mdl-data-table__cell--non-numeric">Address</th>
                            <th class="mdl-data-table__cell--non-numeric">Phone</th>
                            <th class="mdl-data-table__cell--non-numeric action">Edit</th>
                            <th class="mdl-data-table__cell--non-numeric action">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="user in users track by $index">
                            <td class="mdl-data-table__cell--non-numeric">{{user.name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.username}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.address}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.phone}}</td>
                            <td class="mdl-data-table__cell--non-numeric action">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised" data-ng-click="edit(user.id)">
                                    Edit
                                </button>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric action">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised" data-ng-click="delete(user.id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-offset block-add-user">
                <h4 class="title-add-user">Add user</h4>
                <form action="#" novalidate name="form">
                    <div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="textfield-name" name="name" data-ng-model="name" data-ng-minlength="3" data-ng-maxlength="20" required>
                            <label class="mdl-textfield__label" for="textfield-name">Name</label>
                        </div>
                        <!-- Validate message -->
                        <p class="message" data-ng-show="form.name.$dirty && form.name.$error.required">Required!</p>
                        <p class="message" data-ng-show="form.name.$dirty && form.name.$error.minlength">Too short!</p>
                        <p class="message" data-ng-show="form.name.$dirty && form.name.$error.maxlength">Too looong!</p>
                    </div>

                    <div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="textfield-username" name="username" data-ng-model="username" data-ng-pattern="/[0-9a-z\_]/g" data-ng-minlength="3" data-ng-maxlength="20" required>
                            <label class="mdl-textfield__label" for="textfield-username">Username</label>
                        </div>
                        <!-- Validate message -->
                        <p class="message" data-ng-show="form.username.$dirty && form.username.$error.required">Required!</p>
                        <p class="message" data-ng-show="form.username.$dirty && form.username.$error.minlength">Too short!</p>
                        <p class="message" data-ng-show="form.username.$dirty && form.username.$error.maxlength">Too looong!</p>
                        <p class="message" data-ng-show="form.username.$dirty && form.username.$error.pattern">Invalid!</p>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" id="textfield-email" data-ng-model="email">
                        <label class="mdl-textfield__label" for="textfield-email">Email</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="textfield-address" data-ng-model="address">
                        <label class="mdl-textfield__label" for="textfield-address">Address</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="number" id="textfield-phone" data-ng-model="phone">
                        <label class="mdl-textfield__label" for="textfield-phone">Phone</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label wrap-button">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised" type="submit" data-ng-click="create()" data-ng-disabled="form.$invalid">Add</button>
                    </div>
                </form>
            </div>

            <pre>{{form | json}}</pre>
        </div>
    </div>


    <!-- Script -->
    <script src="js/angular.min.js"></script>
    <script src="https://code.getmdl.io/1.1.2/material.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/SweetAlert.js"></script>
    <script src="js/script.js"></script>
</body>
</html>