<!DOCTYPE html>
<html data-ng-app="http-app">
<head>
    <meta charset="utf-8">
    <title>AngularJS -  HTTP</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container" data-ng-controller="UserController">
        <div class="row">
            <div class="col-md-8">
                <h3 class="title">Demo crud app</h3>
                <form action="#">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th class="action">Edit</th>
                                <th class="action">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="user in users track by $index">
                                <td>
                                    <input class="form-control" type="text" value="{{user.name}}">
                                </td>
                                <td>
                                    <input class="form-control" type="text" value="{{user.username}}" data-ng-model="username">
                                </td>
                                <td>
                                    <input class="form-control" type="text" value="{{user.email}}" data-ng-model="email">
                                </td>
                                <td>
                                    <input class="form-control" type="text" value="{{user.address}}" data-ng-model="address">
                                </td>
                                <td>
                                    <input class="form-control" type="text" value="{{user.phone}}" data-ng-model="phone">
                                </td>
                                <td class="action">
                                    <button class="btn btn-info" type="button" data-ng-click="edit(user.id)">Edit</button>
                                </td>
                                <td class="action">
                                    <button class="btn btn-danger" type="button" data-ng-click="delete(user.id, $index)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="block-add-user">
                    <h4 class="title-add-user">Add user</h4>
                    <form action="#" novalidate name="form">
                        <div class="form-group"
                             data-ng-class="{
                                'has-error': form.name.$dirty &&  (form.name.$error.required || form.name.$error.minlength || form.name.$error.maxlength),
                                'has-success': form.name.$valid}">
                            <input class="form-control"
                                   type="text"
                                   name="name"
                                   data-ng-model="name"
                                   data-ng-minlength="3"
                                   data-ng-maxlength="20"
                                   placeholder="Name"
                                   required>
                            <!-- Validate message -->
                            <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.required">Required!</p>
                            <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.minlength">Too short!</p>
                            <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.maxlength">Too looong!</p>
                        </div>

                        <div class="form-group"
                             data-ng-class="{
                                'has-error': form.username.$dirty &&  (form.username.$error.required || form.username.$error.minlength || form.username.$error.maxlength || form.username.$error.pattern),
                                'has-success': form.username.$valid}">
                            <input class="form-control"
                                   type="text"
                                   name="username"
                                   data-ng-model="username"
                                   data-ng-pattern="/[0-9a-z\_]/g"
                                   data-ng-minlength="3"
                                   data-ng-maxlength="20"
                                   placeholder="Username"
                                   required>
                            <!-- Validate message -->
                            <p class="help-block" data-ng-show="form.username.$dirty && form.username.$error.required">Required!</p>
                            <p class="help-block" data-ng-show="form.username.$dirty && form.username.$error.minlength">Too short!</p>
                            <p class="help-block" data-ng-show="form.username.$dirty && form.username.$error.maxlength">Too looong!</p>
                            <p class="help-block" data-ng-show="form.username.$dirty && form.username.$error.pattern">Invalid!</p>
                        </div>

                        <div class="form-group"
                             data-ng-class="{
                                'has-error': form.email.$dirty && (form.email.$error.required || form.email.$error.email),
                                'has-success': form.email.$valid}">
                            <input class="form-control"
                                   type="email"
                                   name="email"
                                   data-ng-model="email"
                                   placeholder="Email"
                                   required>
                            <!-- Validate message -->
                            <p class="help-block" data-ng-show="form.email.$dirty && form.email.$error.required">Required!</p>
                            <p class="help-block" data-ng-show="form.email.$dirty && form.email.$error.email">Invalid!</p>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" data-ng-model="address" placeholder="Address (optional)">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="number" data-ng-model="phone" placeholder="Phone (optional)">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success" type="submit" ladda="createLo" data-ng-click="create()" data-ng-disabled="form.$invalid">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <pre>{{form | json}}</pre>
    </div>



    <!-- Script -->
    <script src="bower_components/angular/angular.min.js"></script>
    <!-- Bootstrap -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Sweetalert -->
    <script src="bower_components/ngSweetAlert/SweetAlert.min.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Ladda button -->
    <script src="bower_components/ladda/dist/spin.min.js"></script>
    <script src="bower_components/ladda/dist/ladda.min.js"></script>
    <script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
    <!-- Main -->
    <script src="js/script.js"></script>
</body>
</html>